@{
    ViewData["Title"] = "Wellcome";
}

<div class="text-center">
    <h1 class="display-4" style="color:darkblue">Sample Dockerize Asp.net Core Project</h1>
    <h3 class="display-5" style="color:purple">@ViewBag.Result</h3>
</div>
